@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    background: linear-gradient(0deg, rgb(250, 197, 22) 0%, rgb(234, 250, 7) 100%);
}

.TituloPrincipal {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    font-size: 80px;
    font-family: 'Nerko One';
}

.SearchForm {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
}

.SearchInput {
    font-size: 30px;
    padding: 20px;
    height: 80px;
    width: 500px;
    border-radius: 30px;
    border: 2px solid rgb(247, 143, 7);
}

.SearchButton {
    font-family: 'Nerko One';
    color: rgb(247, 143, 7);
    font-size: 30px;
    width: 200px;
    border-radius: 30px;
    border: 2px solid rgb(247, 143, 7);
    background: rgb(56, 55, 55);
}

.cards {
    font-family: 'Nerko One';
    color: rgb(247, 143, 7);
    border: 5px solid rgb(247, 143, 7);
    display: flex;
    flex-direction: column;    
    justify-content:center;
    text-align: center;
    align-items: center;
    margin: 100px 650px;  
    background-color: rgb(5, 5, 5);
    gap: 50px;
    border-radius: 50px;
    font-weight: 100;
    font-size: 30px;
}

.cards img {
    border: 3px solid rgb(247, 143, 7);
    width: 400px;
    border-radius: 30px;
}

.cards h2 {
    padding-top: 30px;
}

.cards h4 {
    padding-bottom: 30px;
}

.MsjErrorVacio {
    display: flex;
    font-family: 'Nerko One';
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    color: rgb(255, 0, 0);
}

.MsjErrorInvalido {
    display: flex;
    font-family: 'Nerko One';
    font-size: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
    color: rgb(255, 0, 0);
}

footer {
    padding-top: 700px;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 30px;
}

